*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right  , rgb(96, 140, 188),rgb(252, 207, 214),rgb(251, 195, 123));
}

.global{
    width: 90%;
    height: 900px;
    background-color: rgb(24, 24, 24);

    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    border-radius: 40px;
}
.globalLeft{
    width: 7%;
    height: 100%;
    /* background-color: rgb(143, 194, 140); */
    border-radius: 30px 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.globalLeftCenter{
    width: 80%;
    height: 95%;
    /* background-color: rgb(7, 55, 5); */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.globalLeftPt1{
    width: 100%;
    height: 30%;
    

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.globalLeftPt1 a{
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 20px;
    transition: 0.7s;
}
.globalLeftPt1 a:hover{
    background-color: rgb(247, 243, 243);
}
.globalLeftPt1 p{
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 20px;
}
#petitTre{
    width: 55%;
    height: 2px;
    background-color: gray;
}
.globalLeftPt2{
    width: 15%;
    height: 30%;
    /* background-color: rgb(193, 225, 65); */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#btn1{
    width: 100%;
    height: 15px;
    background-color: red;
    
    border-radius: 5px;
}
#btn2{
    width: 100%;
    height: 15px;
    background-color: rgb(0, 255, 242);
    
    border-radius: 5px;
}
#btn3{
    width: 100%;
    height: 15px;
    background-color: rgb(13, 255, 0);
    
    border-radius: 5px;
}
#btn4{
    width: 100%;
    height: 15px;
    background-color: rgb(255, 0, 238);
    
    border-radius: 5px;
}
#btn5{
    width: 100%;
    height: 15px;
    background-color: rgb(110, 110, 110);
    text-align: center;
    border-radius: 10px;
}
.globalLeftPt3{
    width: 100%;
    height: 20%;
    /* background-color: rgb(65, 204, 225); */

    display: flex;
    align-items: end    ;
    justify-content: center;
    flex-wrap: wrap;
}

.imgHead{
    width: 50%;
    height: 30px;
    position: relative;
}.imgHead::after{
    content: "";
    position: absolute;
    right: 0px;
    top: 35px;
    display: block;
   
   width: 35%;
   height: 17px;
   border-radius: 20px;
   background-color: green;
}
.imgHead img{
    width: 100%;
    border-radius: 30px;
}
.lightBtn{
    width: 70%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(47, 47, 47);
    border: none;
    transition: 0.4s;
}
.lightBtn:hover
{
    cursor:pointer;
    background-color: rgb(93, 93, 93);
}

.globalRight{
    width: 91.5%;
    height: 95%;
    background-color: #242528;

    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.globalRightMid{
    width: 90%;
    height: 80%;
    /* background-color: rgb(122, 69, 69); */
}

.globalRightTitle{
    width: 100%;
    height: 150px;
    /* background-color: rgb(90, 114, 90); */
}

.globalRightTitle h1{
    font-family: Arial Black, sans-serif;
    font-family: Roboto "Roboto", sans-serif;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 70px;
    font-weight: bold;
}
.globalRightTitle h2{
    
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: lighter;
}

.globalRightCenter{
    width: 100%;
    height: 75%;
    /* background-color: cadetblue; */

    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.globalRightCenterLeft{
    width: 20%;
    height: 150px;
    /* background-color: rgb(90, 90, 124); */

    display: flex;
    align-items: center;
    
    flex-wrap: wrap;
}
.globalRightCenterLeft h3{
    font-family: Arial Black, sans-serif;
    width: 100%;
    /* text-align: center; */
    font-size: 30px;
    color: rgb(255, 255, 255);

}
.globalRightCenterLeft label{
    width: 80%;
    /* text-align: center; */
    color: rgb(255, 255, 255);
    font-size: 20px;
}



.globalRightCenterMid{
    
    width: 80%;
    height: 100%;
    /* background-color: rgb(125, 158, 131); */

    display: flex;
    align-items: center;
}
.line2{
    width: 0.2%;
    height: 90%;
    background-color: rgb(53, 53, 53);
}
.box1{
    width: 30%;
    height: 90%;
    border-radius: 20px 0 0 20px;
    background-color: rgb(22, 22, 22);

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1Cadre{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box1p1{
    width: 100%;
    height: 45%;
    /* background-color: rgb(144, 110, 110); */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.box1p1 h2{
    font-size: 25px;
    width: 100%;
}
.box1p1 p{
    font-size: 20px;
    width: 100%;
}
.box1p1 h3{
    width: 50%;
    font-size: 50px;
}
.box1p1 h4{
    width: 100%;
    font-size: 20px;
    color: rgb(174, 174, 174);
}
.box1p1 span{
    width: 50%;
    font-size: 30px;
    color: gray;
}
.line{
    width: 100%;
    height: 2px;
    background-color: rgb(47, 47, 47);
}
.box1p2{
    width: 100%;
    height: 45%;
    /* background-color: rgb(121, 144, 110); */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.box1p2 h3{
    width: 100%;
}
.box1B{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.box1B button{
    width: 80%;
    height: 45px;
    color: rgb(73, 73, 73);
    background-color: black;
    border: 1px solid rgb(58, 58, 58);
    font-size: 20px;
    font-weight: bolder;
    border-radius:10px;
    transition: 0.4s;
}
.box1B button:hover{
    background-color: rgb(28, 28, 28);
}
